@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<script type="text/javascript">
    $(function (swapDiv)
    {
        $("a").click(function ()
        {
            var which = $(this).attr("href");
            //alert(which.split("#")[1], 10);

            $(".main-content div").css({ display: "none" });

            $(which).css({ display: "block" });
        });

    });
</script>

<hgroup class="title">
    <h3><a href="#sabersmith">About Sabersmith</a></h3>
    <h3><a href="#weapons">About Our Weapons</a></h3>
</hgroup>


<div id="sabersmith">
    <h2>About Sabersmith</h2>
    <p>
        <img src="images/old_site/tim.jpg" alt="Tim" style="width: 300px; height: 225px; display: inline; float: left; margin: 10px;" />
			<br />
			My name is Tim, I began making weapons at an early age out of my garage in the suburbs of Detroit in the late 70's.
			I started with martial arts weapons. It didn't take long before I was making swords, battle axes and pole arms. All
			the while with one thing on my mind: "Beyond Battle Ready". This meant I must make the best performing, most durable
			& original weapons the business had ever seen!
			<br /><br />
			Consider what's available in the market today. Worthless overseas imports. A true collector looks for rare, hand
			crafted, hard to find or one of a kind pieces to add to his or her collection. Don't get me wrong, not everyone can
			afford hand made or antique pieces. To these people I say "Be careful of how much of that stuff you buy." All of our
			weapons either have "Sabersmith USA" on the blade or come with a certificate of authenticity or both, guaranteeing
			the quality and originality of the piece. That's rare, that's hard to find, that's collectable!
			<br /><br />
			I had never considered the sword business as a career until I started doing Gun and Knife shows, surrounded by the
			ten dollar imports I thrived. The response was immediate. I'll never forget the look on people's faces. Just seeing
			the product, the difference was apparent, and when they held a sword or dagger the same words were said over and over
			again: "These are real!" With that, I started Sabersmith in 1997.
			<br /><br />
			Today Sabersmith is growing and is no longer one man with a dream, but a family of partners, apprentices and customers
			who all have the same sense of pride in the quality workmanship. We believe the future for hand crafted weaponry is
			bright. We are determined to continue to bring the market the best American made weaponry money can buy. To see our
			product in person, please take a look at the Faires and Festivals page for our current schedule.
			<br /><br />
			It is my sincere hope that any one serious about weapons buy hand made, if not from Sabersmith, then someone else whether
			they're well known or just starting out. As long as the piece you are buying is hand made in America!
			<br /><br />
			Our products are not toys! They are fully functioning weapons designed for "Live Steel Combat". Finally, To everyone
			who supported us: THANK YOU! I am proud to say I would not be here without you. I must also acknowledge special thanks
			to Aimee Shapiro from King Richards Faire and Lynn Ritz from Mid America Festivals. Two very special people to whom I
			owe everything!
			<br /><br />
			Tim Lawler, Sabersmith Founder
    </p>
</div>

<div id="weapons">
    <h2>About Our Weapons</h2>
    <p class="pcontent_text">
			<img src="images/old_site/shop.jpg" style="width: 300px; height: 200px; display: inline; float: left; margin: 10px;" />
			<br />
			We hand-craft all of our products at our 6600 sqf. manufacturing facility, located in Michigan, USA. Please feel free
			to stop by our shop for a tour if you're in the area!
			<br /><br />
			Materials: The debate over which type of steel is best for the sword blade has raged for years. However, if you ask most
			of the big names in blade making they will all say the same thing: High Carbon steel such as 1095 and 1075 or 5160 (a hi
			carbon alloy). These types of materials all have a high carbon content, which allows for high R.C or hardness rating
			after tempered. We have tested many steel types and found the 10-series steels to be the most durable and flexible. This
			is why Sabersmith uses the 1095 and 1075 steel type for our blades.
			<br /><br />
			Parts, such as guards and pommels, are offered in two types of finish, a black oxide or a satin polish. We also have black
			oxide available for the blade itself, for a deluxe "Black Blade" look. Techniques: There is another great debate that rages
			on in the blade world. Which is better, Forging or Stock Removal? Although there are some things like pattern welding,
			folding and ect. that can only be done in the forge, they have little or no effect on the overall durability of the blade.
			Forging does however take 500 to 100% longer to produce the same blade. Therefore the primary technique we use is stock
			removal, cutting our production time down to an average of 20 to 60 hours a piece. We use the forge in most cases for custom
			orders or demonstrations. 
		</p>
</div>