@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(517) 649-0339</span>
    </p>
    <p>
        <span class="label">Fax:</span>
        <span>(517) 649-0340</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Customer Service:</span>
        <span><a href="mailto:customerservice@sabersmith.com">customerservice@sabersmith.com</a></span>
    </p>
    <p>
        <span class="label">Sales:</span>
        <span><a href="mailto:sales@sabersmith.com">sales@sabersmith.com</a></span>
    </p>
    <p>
        <span class="label">Inquiries:</span>
        <span><a href="mailto:info@sabersmith.com">info@sabersmith.com</a></span>
    </p>
    <p>
        <span class="label">Dealer Inquiries:</span>
        <span><a href="mailto:dealers@sabersmith.com">dealers@sabersmith.com</a></span>
    </p>
    <p>
        <span class="label">Webmaster:</span>
        <span><a href="mailto:webmaster@sabersmith.com">webmaster@sabersmith.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        87 Grand Ledge Hwy
        <br />
        Mulliken, MI 48861
    </p>
</section>