@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Forums";
}


<section id="forum-list">
    <p class="forum">
        <span class="header">General Forum</span>
        <span class="description">Forum for general discussion about what's going on and general chatter.</span>
    </p>
    <p class="forum">
        <span class="header">Weapons Forum</span>
        <span class="description">Forum for discussion about the various weapons that Sabersmith creates.</span>
    </p>
</section>