@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

            @section featured {
            <section class="featured">
                <div class="content-wrapper">
                    <h2>Our Swords</h2>
                    We believe the future for hand crafted weaponry is bright. We are determined to continue to
                    bring the market the best Amercan made weaponry money can buy.
		            To see our products in person, please take a look at the Faires and Festivals page for our
                    current schedule.
                </div>
            </section>
            }


            <div class="news float-left">
	            <h2>Events</h2>
	            <h3><a href="http://royalfaires.com/arizona/" target="_new">Arizona Renaissance Festival & Artisan Marketplace</a></h3>
	            February 9 - March 31 <br /> Saturdays, Sundays, and President's Day
					
	            <h3><a href="http://www.garenfest.com" target="_new">The Georgia Renaissance Festival</a></h3>
	            April 13 - June 2 <br /> Saturdays, Sundays, and Memorial Day

                <h3><a href="http://www.renfair.com/bristol/" target="_new">Bristol Renaissance Faire</a></h3>
                July 6 - September 2 <br /> Saturdays, Sundays, and Labor Day
            </div>

            <div id="facebookFeed" class="float-left">
                <h2>Facebook</h2>
                Visit our <a href="http://www.facebook.com/pages/Sabersmith-Inc/141742435902771" target="_new">Facebook page</a> to see what's been up lately.
            </div>