<form>
    <fieldset>
        <label for="catName">Name</label>
        <input type="text" name="catName" id="catName" class="text ui-widget-content ui-corner-all" />
        <label for="catDesc">Description</label>
        <input type="text" name="catDesc" id="catDesc" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
</form>