@{
    Layout = "~/admin/_adminlayout.cshtml";
    Page.Title = "Administrative Main";
}
        <h2>Site Administration</h2>

        <section class="text float-left" style="min-height:  400px;">
            Administrators can use this area to modify a variety of things such as users, products, schedules, etc.

            <nav>
                <ul class="menu">
                    <li><a href="~/admin/manageusers">Manage Users</a></li>
                    <li><a href="~/admin/manageproducts">Manage Products</a></li>
                    <li><a href="~/admin/manageschedule">Manage Schedule</a></li>
                    <li><a href="~/admin/managemedia">Manage Media</a></li>
                </ul>
            </nav>
        </section>


